<header class="page-header">
  <h1>
    <a routerLink="/">
      {{title}}
    </a>
  </h1>
</header>

<router-outlet></router-outlet>
<footer>
  <div class="row">
    <div class="col-12 text-md-right">
      <p>Created by <a href="https://mirekdlugosz.com" class="text-primary">Mirek Długosz</a></p>
    </div>
    <div class="col-12 text-md-right">
      <ul class="list-inline">
        <li class="list-inline-item"><a routerLink="/about" class="text-muted">About</a></li>
        <li class="list-inline-item"><a routerLink="/help" class="text-muted">Help</a></li>
        <li class="list-inline-item"><a routerLink="/legal" class="text-muted">Legal</a></li>
        <li class="list-inline-item"><a routerLink="/problems" class="text-muted">Report a problem</a></li>
        <li class="list-inline-item"><a href="https://github.com/mirekdlugosz/create-pokemon-team" class="text-muted">Source code</a></li>
      </ul>
    </div>
  </div>
</footer>
