<!DOCTYPE html>
<html ng-app="pokemonTeamBuilder">
<head>
	<meta charset="utf-8">
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</head>
<body>

<div class="container" ng-controller="PokemonTeamController as pokemon_team">
  <div class="page-header">
    <h2>Yet Another Pokemon Team Builder</h2>
  </div>
  <div class="jumbotron" ng-controller="PokemonListController as pokemon_list">
	  <div class="col-sm-2" ng-repeat="team_member in pokemon_team.members">
		<h4>Pokemon {{ $index + 1 }}</h4>
		<select ng-model="team_member.pokemon"
			ng-options="pokemon.name for pokemon in pokemon_list.available_pokemon"
			ng-change="pokemon_team.getMoves(team_member)">
			<option value="">-- Pokemon --</option>
		</select>
		<div ng-repeat="select_move in team_member.moves track by $index">
			<select ng-model="team_member.moves[$index]"
				ng-options="move as (move.name + ' ('+ move.type + ', ' + move.category +')') for move in team_member.available_moves"
				ng-change="pokemon_team.updateTables()">
				<option value="">-- Move --</option>
			</select>
		</div>
	  </div>
	  <style>
		table tbody {
			display: none;
		}
		td {
			width: 30px;
		}
	  </style>
	  <table>
		<thead>
			  <tr>
				  <td></td>
				  <td colspan="4" ng-repeat="team_member in pokemon_team.members">{{ team_member.pokemon.name }}</td>
			  </tr>
			  <tr>
				  <td ng-repeat="cell in pokemon_team.header_cells track by $index">{{ cell }}</td>
			  </tr>
		  </thead>
		  <tbody>
			  <tr ng-repeat="row in pokemon_team.typeEffectivenessTable">
				  <td>{{ pokemon_team.typeTable[$index] }}</td>
				  <td ng-repeat="cell in row track by $index">{{cell}}</td>
			  </tr>
		  </tbody>
	  </table>
	  </div>
  </div>
  <div id="results" >
	  <div class="tabbable tabs-above">
		  <ul class="nav nav-tabs">
			  <li class="active"><a>Type effectiveness</a></li>
			  <li><a>Type coverage</a></li>
		  </ul>
	  </div>
	  <pre>
		{{pokemon_team.typeEffectivenessTable | json }}
	  </pre>
	  <pre>
		{{pokemon_team.members | json }}
	  </pre>
	  <!-- dwie karty, w każdej tabelka -->
  </div>
</div>

</body>
</html>
