<h2>Report a problem</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Report a problem</li>
  </ol>
</nav>

<p>Something on this website doesn't work? You see something that you did not expect? You struggle to make sense out of something?</p>
<p>Then you have found a problem!</p>
<p>Please tell us about it:</p>
<ul>
	<li><a href="">Raise an issue</a> on GitHub tracker. This requires GitHub account (you can create one for free), but is the best way to make your problem visible.</li>
	<li><a href="https://www.reddit.com/message/compose/?to=mzalewski">Send message to Mirosław Zalewski</a> on Reddit, if you have an account.</li>
	<li>Tweet to <a href="https://twitter.com/zalewskiEU">Mirosław Zalewski</a> on Twitter, if you have an account.</li>
	<li>Email <a href="mailto:mz %at% miroslaw-zalewski.eu">Mirosław Zalewski</a>. Technically it does require email account, but everyone has one anyway.</li>
</ul>

<p><a routerLink="/">Go back to main page</a></p>
