<div class="row">
  <div class="col-6 col-md-4 col-lg-2" *ngFor="let typeName of typeEffectiveness.availableTypes">
    <h3 class="type {{ typeName | lowercase }}">{{ typeName }}</h3>
    <div class="row no-gutters justify-content-center">
      <p class="col-9 col-md-7">№ resisting:</p>
	  <p class="col-3 col-md-2 value" [ngClass]="{'text-danger': number_resists(typeName) === 0}">{{ number_resists(typeName) }}</p>
    </div>
    <div class="row no-gutters justify-content-center">
      <p class="col-9 col-md-7">№ weak to:</p>
      <p class="col-3 col-md-2 value">{{ number_weak_to(typeName) }}</p>
    </div>
    <div class="row no-gutters justify-content-center">
      <p class="col-9 col-md-7">№ of <abbr title="Super Effective">SE</abbr> moves:</p>
      <p class="col-3 col-md-2 value">{{ number_supereffective_moves(typeName) }}</p>
    </div>
    <div class="row no-gutters justify-content-center">
      <p class="col-9 col-md-7">Counter</p>
	  <p class="col-3 col-md-2 value">
		<span *ngIf="counter_exists(typeName); else noCounter">
			<span class="d-md-none">Yes</span>
			<span class="d-none d-md-inline">{{ counters_list(typeName).join(", ") }}</span>
		</span>
		<ng-template #noCounter><span class="text-danger">No</span></ng-template>
	  </p>
    </div>
  </div>
</div>
