<h2>Legal</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Legal</li>
  </ol>
</nav>

<h3>Cookies and tracking mechanisms</h3>

<p>We use cookie-like technology to store part of data on your device. Data is used to hide call for action box o main page. It is anonymous and cannot be used to identify you as a person on this or any other website.</p>

<p>We also use <a href="https://tagmanager.google.com/">Google Tag Manager</a> and <a href="https://analytics.google.com/">Google Analytics</a> to get some idea about popularity of the site. Both may use cookie-like technology to store some data on your device and might identify you across multiple websites. They are subject to <a href="https://policies.google.com/privacy">Google Privacy Policy</a>. You can opt out of Google Analytics using <a href="https://tools.google.com/dlpage/gaoptout">tool they provide</a>.</p>

<h3>License</h3>

<p>createPokémon.team is copyright of <a href="https://miroslaw-zalewski.eu">Mirosław Zalewski</a> and is licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License (GNU AGPL) Version 3 or later</a>.</p>
<p><a href="https://angular.io/">Angular</a> is copyright of Google, Inc. and is licensed under MIT License.</p>
<p><a href="https://getbootstrap.com/">Bootstrap</a> is copyright of Twitter, Inc. and is licensed under MIT License.</p>
<p><a href="https://github.com/ng-select/ng-select">ng-select</a> is copyright of Andžej Maciusovič and is licensed under MIT License.</p>
<p><a href="https://github.com/maxisam/ngx-clipboard">ngx-clipboard</a> is copyright of Sam Lin and is licensed under MIT License.</p>
<p><a href="https://github.com/zoomsphere/ngx-store">ngx-store</a> is copyright of Daniel Kucal, ZoomSphere and is licensed under ISC License.</p>
<p><a href="https://github.com/reactivex/rxjs">rxjs</a> is copyright of Google, Inc., Netflix, Inc., Microsoft Corp. and contributors and is licensed under Apache License.</p>
<p><a href="https://github.com/angular/zone.js">zone.js</a> is copyright of Google, Inc. and is licensed under MIT License.</p>

<p>Pokémon is trademark of Nintendo/Creatures Inc./GAME FREAK inc.</p>

<p>Data powering this application comes from <a href="https://github.com/veekun/pokedex">veekun Pokedex</a>. veekun is copyright of Alex Munroe (Eevee) and is licensed under MIT License. Data itself, however, is copyright of Nintendo/GAME FREAK inc. Usage of data on this project is considered to fall under fair use.</p>

<p>No Pokémon was harmed in the making of this application.</p>

<p><a routerLink="/">Go back to main page</a></p>
