/**
 * createPokémon.team - web application that helps you build your own
 * Pokémon team in any core series game
 * Copyright © 2018  Mirosław Zalewski
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * any later version.
 */

p {
  margin-bottom: 0;
}

div.alert {
  margin-bottom: 2rem;
}

button.dismiss {
  font-size: 2rem;
  line-height: 1rem;
  background-color: transparent;
}
