<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
  </ol>
</nav>

<p>createPokémon.team is web application that helps you build your own Pokémon team in any core series game.</p>

<p>It was created to fill in a gap that was not covered by other projects like that. Most of them focus on one, maybe two generations of Pokémon games, but never try to cover all of them. They are not very useful if you are playing on virtual console, old hardware or emulator.</p>
<p>Then, majority of them focus on Pokémon themselves, completely forgetting that Pokémon have moves, too! It doesn't matter if you have Fire-type Pokémon in the team, if your only Fire-type move is known by slow pure Water Pokémon - one that will be absolutely wrecked by Grass-type enemy.</p>
<p>And finally, other team builders seem to be created with desktop computers in mind, making their usefulness on mobile devices rather limited. While small screen factor does make it harder to quickly and effectively use this site as well, we try to give you as much value as possible.</p>

<h3>Author</h3>

<p>createPokémon.team was created by Mirek Długosz, software tester from Poland. He enjoys spending time with his wife, all things testing, some geeky computer stuff like Linux and open source and few video games, Pokémon included. You can learn more about him by visiting <a href="https://mirekdlugosz.com">his website</a> or reading <a href="https://mirekdlugosz.com/blog/">his blog</a>. Don't forget to say hi on <a href="https://twitter.com/mirekdlugosz">Twitter</a> or by <a href="mailto:mirek %at% mirekdlugosz.com">email</a>!</p>

<p><a routerLink="/">Go back to main page</a></p>
